<a href="https://colab.research.google.com/github/ghluque/Analisis-de-datos-animales/blob/master/Analisis1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Los datos a leer son en formato CSV (comma separated values= valores separados por comas) tambien pueden estar separados por tabulaciones, punto y coma, espacios.

Vamos a estudiar la especie y el peso de un listado de animales. Lo primero que debemos hacer es importar los datos.

Para trabajar con datos tabulares (tablas) se utiliza comunmente la biblioteca "Pandas". Si adem√°s le queremos poner un sobrenombre para acortar los comandos, se puede agregar pandas as(como) "pd"

Usamos la libreria NumPy

Usamos pandas con el sobrenombre que le pusimos en la primera linea.

In [ ]:
import pandas as pd
import numpy as np

Con la siguiente linea le ponemos de sobrenombre "df" a nuestro archivo y procedemos para cargarlo desde URL.

En la segunda linea nos lo muestra en forma de tabla.

In [ ]:
df=pd.read_csv("https://ndownloader.figshare.com/files/2292172")
df.head()

   record_id  month  day  year  plot_id species_id sex  hindfoot_length  weight
0          1      7   16  1977        2         NL   M             32.0     NaN
1          2      7   16  1977        3         NL   M             33.0     NaN
2          3      7   16  1977        2         DM   F             37.0     NaN
3          4      7   16  1977        7         DM   M             36.0     NaN
4          5      7   16  1977        3         DM   M             35.0     NaN

Que es "df"?

In [ ]:
type(df)

pandas.core.frame.DataFrame

Que tipo de cosas contiene "df"?

In [ ]:
df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

Que columnas tiene "df"?

In [ ]:
df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [ ]:
df.shape

(35549, 9)

In [ ]:
df.head(36590)

       record_id  month  day  year  ...  species_id  sex hindfoot_length  weight
0              1      7   16  1977  ...          NL    M            32.0     NaN
1              2      7   16  1977  ...          NL    M            33.0     NaN
2              3      7   16  1977  ...          DM    F            37.0     NaN
3              4      7   16  1977  ...          DM    M            36.0     NaN
4              5      7   16  1977  ...          DM    M            35.0     NaN
...          ...    ...  ...   ...  ...         ...  ...             ...     ...
35544      35545     12   31  2002  ...          AH  NaN             NaN     NaN
35545      35546     12   31  2002  ...          AH  NaN             NaN     NaN
35546      35547     12   31  2002  ...          RM    F            15.0    14.0
35547      35548     12   31  2002  ...          DO    M            36.0    51.0
35548      35549     12   31  2002  ...         NaN  NaN             NaN     NaN

[35549 rows x 9 columns]

In [ ]:
df.tail

<bound method NDFrame.tail of        record_id  month  day  year  ...  species_id  sex hindfoot_length  weight
0              1      7   16  1977  ...          NL    M            32.0     NaN
1              2      7   16  1977  ...          NL    M            33.0     NaN
2              3      7   16  1977  ...          DM    F            37.0     NaN
3              4      7   16  1977  ...          DM    M            36.0     NaN
4              5      7   16  1977  ...          DM    M            35.0     NaN
...          ...    ...  ...   ...  ...         ...  ...             ...     ...
35544      35545     12   31  2002  ...          AH  NaN             NaN     NaN
35545      35546     12   31  2002  ...          AH  NaN             NaN     NaN
35546      35547     12   31  2002  ...          RM    F            15.0    14.0
35547      35548     12   31  2002  ...          DO    M            36.0    51.0
35548      35549     12   31  2002  ...         NaN  NaN             NaN     NaN

[35549 rows x 9 columns]>

Estadistica> GRUPOS

mostramos columnas como probamos anteriormente

In [ ]:
df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

Ahora le pedimos que nos muestre una lista de todas las especies, (columna species_id)

In [ ]:
pd.unique(df['species_id'])

array(['NL', 'DM', 'PF', 'PE', 'DS', 'PP', 'SH', 'OT', 'DO', 'OX', 'SS',
       'OL', 'RM', nan, 'SA', 'PM', 'AH', 'DX', 'AB', 'CB', 'CM', 'CQ',
       'RF', 'PC', 'PG', 'PH', 'PU', 'CV', 'UR', 'UP', 'ZL', 'UL', 'CS',
       'SC', 'BA', 'SF', 'RO', 'AS', 'SO', 'PI', 'ST', 'CU', 'SU', 'RX',
       'PB', 'PL', 'PX', 'CT', 'US'], dtype=object)

Array= matriz

Cuantos lugares hay en nuestro censo? 

Plot= parcela, lugares

In [ ]:
pd.unique(df['plot_id'])

array([ 2,  3,  7,  1,  6,  5,  8,  4, 11, 14, 15, 13,  9, 10, 17, 16, 20,
       23, 18, 21, 22, 19, 12, 24])

In [ ]:
df['plot_id'].nunique() df

24

Estadistica de datos agrupados en subconjuntos o atributos de nuestros datos.

Nuestro promedio de peso de la poblacion de animales por sitio:

In [ ]:
df['weight'].describe()

count    32283.000000
mean        42.672428
std         36.631259
min          4.000000
25%         20.000000
50%         37.000000
75%         48.000000
max        280.000000
Name: weight, dtype: float64

Extraemos una metrica en particular, como la media por ej

In [ ]:
df['weight'].mean()

42.672428212991356

Tambien podemos filtrar datos de acuerdo al sexo (tambien se puede filtrar por multiples variables)

In [ ]:
grouped_data=df.groupby('sex')

Datos filtrados segun la media de cada sexo

In [ ]:
grouped_data.mean()

        record_id     month        day  ...    plot_id  hindfoot_length     weight
sex                                     ...
F    18036.412046  6.583047  16.007138  ...  11.440854        28.836780  42.170555
M    17754.835601  6.392668  16.184286  ...  11.098282        29.709578  42.995379

[2 rows x 7 columns]

Todos los datos filtrados por sexo

In [ ]:
grouped_data.describe()

    record_id                                   ... weight
        count          mean           std  min  ...    25%   50%   75%    max
sex                                             ...
F     15690.0  18036.412046  10423.089000  3.0  ...   20.0  34.0  46.0  274.0
M     17348.0  17754.835601  10132.203323  1.0  ...   20.0  39.0  49.0  280.0

[2 rows x 56 columns]